# 默认忽略根目录下所有内容
/*

# 保留 .gitignore 本身
!/.gitignore

# 保留整个 custom_ops 目录
!/custom_ops/
!/custom_ops/**

# 保留 test_op 目录，但只保留这三个文件
!/test_op/
/test_op/*
!/test_op/run.sh
!/test_op/test_attention.py
!/test_op/diff_tensor.py
